<div class="main-container">
  <div class="main-container-wrapper">
    <div class="chat-main-container">
      <div class="chat-main-container-wrapper">
        <div class="chat-header-container">
          <div class="chat-header-info">
            <div class="chat-title">general</div>
            <div class="chat-description">
              In this channel we discuss everything related to the organization
            </div>
          </div>
          <div class="chat-header-actions">
            <span class="mr-20"><i class="fa-solid fa-video"></i></span>
            <span class="mr-20"><i class="fa-solid fa-phone"></i></span>
            <span class="mr-10"
              ><i class="fa-solid fa-ellipsis-vertical"></i
            ></span>
          </div>
        </div>
        <div class="chat-message-container">
          <div class="left-message-container">
            <div class="circle avatar-container">
              <img
                src="https://source.unsplash.com/random/200x200?avatar,men"
                alt="avatar"
                width="35"
                height="35"
              />
            </div>
            <div class="message-detail-container">
              <div class="message-info-container">
                <span class="message-sender">John Doe</span
                ><span class="message-time">9:30</span>
              </div>
              <div class="message-text">
                <span>Hi, there</span>
              </div>
            </div>
          </div>
          <div class="right-message-container">
            <div class="circle avatar-container">
              <img
                src="https://source.unsplash.com/random/200x200?avatar,women"
                alt=""
                width="35"
                height="35"
              />
            </div>
            <div class="message-detail-container">
              <div class="message-info-container">
                <span class="message-sender">Jane Doe</span
                ><span class="message-time">9:31</span>
              </div>
              <div class="message-text">Hello</div>
            </div>
          </div>
        </div>
        <div class="chat-input-container">
          <div class="chat-input-wrapper">
            <div class="file-input-container">
              <span style="font-size: 28px">+</span>
            </div>
            <div class="message-text-input-container">
              <input
                type="text"
                class="message-text-input"
                placeholder="Type message here"
              />
              <button class="send-button">Send</button>
            </div>
            <div class="chat-action-button">
              <span><i class="fa-solid fa-microphone"></i></span>
            </div>
            <div class="chat-action-button">
              <span style="font-size: 16px">&#64;</span>
            </div>
            <div class="chat-action-button">
              <span><i class="fa-regular fa-face-smile"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions-container">
      <div class="action-button">
        <span><i class="fa-solid fa-user"></i></span>
      </div>
      <div class="action-button">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <div class="action-button">
        <span><i class="fa-solid fa-thumbtack"></i></span>
      </div>
      <div class="action-button">
        <span><i class="fa-solid fa-file"></i></span>
      </div>
      <div class="action-button">
        <span style="font-size: 28px">+</span>
      </div>
    </div>
  </div>
</div>
